<h1>{{ book.title }}</h1>
<p>Author: {{ book.author }}</p>

<hr>

<h2>Notes</h2>

<ul>
  {% for note in book.notes %}
    <li>
      {{ note.content }}

      <form method="POST"
            action="/note/{{ note.id }}/delete"
            style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  {% else %}
    <li>No notes yet</li>
  {% endfor %}
</ul>

<hr>

<h3>Add a note</h3>

<form method="POST">
  <textarea name="content" required></textarea><br>
  <button type="submit">Save Note</button>
</form>

<br>
<a href="{{ url_for('library') }}">Back to Library</a>